<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1251" />
<meta name="description" content="Описание"/>
<title>Home Search</title>
<link rel="stylesheet" href="/templates/style.css">
<style type="text/css">
html,body{margin:0;padding:0;}
body{font-family: arial,sans-serif; font-size:14px; background-color:#f7f7f7;}
:focus{outline:0;}
#clear{float:none; clear:both;}
</style>
</head>
<body>
<div id="start">
	<a href="/"><img src="/templates/logo.png" /></a>
	<br>
	<input onkeydown="if (event.keyCode==13) document.location.href='/?q='+document.getElementById('search-input').value;" id="search-input" autofocus placeholder="Введите запрос и нажмите Enter" autocomplete="off" name="q" tabindex="1" value="" autocapitalize="off" autocorrect="off" type="text">
	<br><br>
	<span style="font-size:13px;">Добавьте <b><span style="cursor:pointer;" onclick="alert('Добавьте к запросу команду &quot;ext:txt&quot; (без скобок), чтобы поиск\nпроисходил исключительно по файлам с расширением &quot;txt&quot;.')">формат</span></b>, 
	<b><span style="cursor:pointer;" onclick="alert('Добавьте к запросу одну из команд (без скобок), чтобы поиск происходил\nисключительно по определенным типам файлов.\n\nКоманды:\n&quot;type:all&quot; - поиск по всем типам файлов.\n&quot;type:text&quot; - поиск по форматам (*.txt, *.htm, *.html).\n&quot;type:pics&quot; - поиск по форматам (*.jpg, *.jpeg, *.bmp, *.png, *.apng, *.gif).\n&quot;type:video&quot; - поиск по форматам (*.mp4, *.3gp, *.flv, *.mpeg, *.avi, *.mkv, *.mov).\n&quot;type:music&quot; - поиск по форматам (*.mp3, *.wav, *.aac, *.flac, *.ogg).\n&quot;type:arch&quot; - поиск по форматам (*.7z, *.zip, *.rar, *.tar.gz).')">тип</span></b> или 
	<b><span style="cursor:pointer;" onclick="alert('Добавьте к запросу команду &quot;cat:википедия&quot;, где &quot;википедия&quot;\nявляется названием базы данных для поиска (&quot;Википедия.xml&quot;).\n\nПо умолчанию поиск происходит в стандартной категории (&quot;default.xml&quot;).\n\nДля создания базы данных кликните правой кнопкой мыши, по иконке,\nв области уведомлений (tray) и перейдите в пункт &quot;Базы данных &quot; -> &quot;Создать&quot;.\nВыберите нужные папки, исключите ненужные, выберите нужные форматы и\nсохраните базу данных (без пробелов), в папку с программой.')">категорию</span></b> для лучшего поиска.</span>
</div>
</body>
</html>